<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">
<head>
  <th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/admin/couponList.css">
  </th:block>
</head>
<body>
<div layout:fragment="main" id="main">
  <h2 style="text-align:center;">쿠폰목록</h2>
  <div class="coupon-list">
    <div class="coupon-card" th:each="coupon : ${couponList}">
      <h3 th:each="coupon : ${couponList}">샵 이름</h3>
      <p>
        <strong>유효기간:</strong>
        <span th:text="${coupon.endDate}"></span>
      </p>
      <p>
        <strong>지역:</strong>
        <span th:text="${coupon.region}"></span>
      </p>
    </div>
  </div>
</div>
<th:block layout:fragment="script"></th:block>
</body>
</html>