<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">
<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" href="/css/admin/problem.css">
    </th:block>
</head>
<body>
<div layout:fragment="main" id="main">
    <div class="modal-overlay" id="designerInquiryModal">
        <div class="modal">
            <h2>디자이너 문의</h2>
            <form id="designerInquiryForm" enctype="multipart/form-data">
                <label for="content">문의 내용</label>
                <textarea id="content" name="content" rows="5" placeholder="불편 사항이나 기타 문의 내용을 내용을 작성해주세요." required></textarea>
                <label for="file">파일 첨부(이미지 또는 PDF)</label>
                <input type="file" id="file" name="file" accept="image/*, .pdf">
                <div class="button">
                    <button type="submit" class="submit-btn">제출</button>
                </div>
            </form>
        </div>
    </div>
</div>
<th:block layout:fragment="script"></th:block>
</body>
</html>