<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">

<head>
  <link rel="stylesheet" th:href="@{/css/master/masterCss.css}" />
</head>

<div layout:fragment="main" class="owner-container">
  <h2>디자이너 정보 목록</h2>
  <table class="default-table">
    <thead>
    <tr>
      <th>사진</th>
      <th>이름</th>
      <th>직급</th>
      <th>연차</th>
      <th>평점</th>
      <th>관리</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><img src="/images/designer1.jpg" class="avatar" /></td>
      <td>홍디자</td>
      <td>수석</td>
      <td>5년차</td>
      <td>4.8</td>
      <td><button class="btn-manage">상세보기</button></td>
    </tr>
    </tbody>
  </table>
</div>
