<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">

<head>
  <link rel="stylesheet" th:href="@{/css/master/masterCss.css}" />
</head>

<div layout:fragment="main" class="owner-container">
  <h2>홍디자 예약 관리</h2>
  <table class="default-table">
    <thead>
    <tr>
      <th>시간</th>
      <th>고객명</th>
      <th>시술명</th>
      <th>상태</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>10:00</td>
      <td>이영희</td>
      <td>염색</td>
      <td class="status-confirmed">예약완료</td>
    </tr>
    </tbody>
  </table>
</div>
