<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>
    <link rel="stylesheet" href="/css/header.css">
    <th:block layout:fragment="css"></th:block>
</head>



<body>

    <div id="wrap">
        <th:block th:replace="~{fragment/header::header}">[헤더 못불러옴]</th:block>
        <th:block layout:fragment="main"></th:block>
<!--        <th:block th:replace="fragment/footer::footer"></th:block>-->
    </div>

<th:block layout:fragment="script"></th:block>
</body>
</html>