<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Title</title>

    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/management/designerMenu.css">
    <link rel="stylesheet" href="/css/master/masterMenu.css">

    <th:block layout:fragment="css"></th:block>
</head>

<body>

<div id="wrap">

    <!-- 공통 헤더 -->
    <th:block th:replace="~{fragment/header :: header}">[헤더 못불러옴]</th:block>

    <!-- 디자이너 전용 메뉴 -->
    <th:block th:replace="~{fragment/designerMenu :: designerMenu}"></th:block>

    <!-- 대표 디자이너 전용 메뉴 -->
    <th:block th:replace="~{fragment/masterMenu :: masterMenu}"></th:block>

    <!-- 각 페이지 내용 -->
    <th:block layout:fragment="main">

    </th:block>

    <!-- 푸터 (필요시 사용) -->
    <!-- <th:block th:replace="~{fragment/footer :: footer}"></th:block> -->

</div>

<th:block layout:fragment="script"></th:block>

</body>
</html>
