
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">


<body>

<div th:fragment="header" id="header">
  <div class="container">

    <div class="header-warp">
      <div class="log">SalonLog</div>

      <div class="header-menu">
        <ul class="user-navbar">
          <li><a href="">HOME<div class="select-line"></div></a></li>
          <li><a href="">헤어샵<div class="select-line"></div></a></li>
          <li><a href="">가격비교<div class="select-line"></div></a></li>
          <li><a href="">예약하기<div class="select-line"></div></a></li>
        </ul>
        <div class="bottom-line"></div>
      </div>

      <div class="profile-area">
        <div class="nav-login"><a href="/login">로그인</a></div>
        <div class="hamburger" id="hamburger">
          ☰
        </div>
      </div>
    </div>
  </div>

</div>

</body>

</html>