<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/default}">
<head>
    <link rel="stylesheet" type="text/css" href="/css/user/compare.css" />
    <th:block layout:fragment="css"></th:block>
</head>
<body>
<div layout:fragment="main" id="main">
    <div class="shop-list-wrap">
        <div class="shop-list-head">
            <div class="compare-title">한눈에 보기</div>
<!--            <div class="gender-options">-->
<!--                <button type="button">전체</button>-->
<!--                <button type="button">여성</button>-->
<!--                <button type="button">남성</button>-->
<!--            </div>-->

<!--            <div>-->
<!--                <img class="search-icon" src="/images/search.png" />-->
<!--                <input class="search-input" style="display: none" />-->
<!--            </div>-->

<!--            <div class="service-cate-list">-->
<!--                &lt;!&ndash; 헤어 카테고리 &ndash;&gt;-->
<!--                <button class="service-cate">커트</button>-->
<!--                <button class="service-cate">펌</button>-->
<!--                <button class="service-cate">염색</button>-->
<!--                <button class="service-cate">업스타일</button>-->
<!--                <button class="service-cate">드라이</button>-->
<!--                <button class="service-cate">붙임머리</button>-->
<!--                <button class="service-cate">클리닉</button>-->
<!--            </div>-->
        </div>

        <div class="shop-card-container">
            <div th:each="compareResult, iterStat : ${compareResults}"
                 th:id="'shop' + ${iterStat.index + 1}"
                 class="compare-area">

                <div class="compare-box">
                    <div class="shop-img">
                        <img th:src="@{${compareResult.shopListDto.shopImageDto.imgUrl}}" alt="미용실 이미지" />
                    </div>
                    <div class="shop-title">
                        <div class="shop-name" th:text="${compareResult.shopListDto.shopName}">미용실 이름</div>
                        <div class="shop-running-time"
                             th:text="'영업시간: ' + ${#temporals.format(compareResult.shopListDto.openTime, 'HH:mm')} + ' ~ ' + ${#temporals.format(compareResult.shopListDto.closeTime, 'HH:mm')}">
                            영업시간
                        </div>
                    </div>

                    <!-- 리뷰 0개 -->

                    <div class="rating-area no-review"
                         th:if="${compareResult.shopListDto.reviewCount == 0}">
                        리뷰가 없습니다
                    </div>

                    <div class="rating-area"
                         th:if="${compareResult.shopListDto.reviewCount > 0}"
                         th:attr="data-rating=${compareResult.shopListDto.rating}">
                        <div class="rating-stars">★★★★★</div> <!-- 별점 UI 커스터마이징 가능 -->
                        <div class="rating" th:text="${compareResult.shopListDto.rating}">5.0</div>
                        <div class="review-count" th:text="'(' + ${compareResult.shopListDto.reviewCount} + ')'">(1,500)</div>
                    </div>

                    <div class="service-list">
                        <div class="service-cate-box"
                             th:each="category : ${serviceCategories}"
                             th:if="${!#lists.isEmpty(compareResult.categorizedServices.get(category))}">
                            <div class="service-cate-title" th:text="${category.label}">
                                커트
                            </div>


                            <div class="service-box"
                                 th:each="service : ${compareResult.categorizedServices.get(category)}"
                            >
                                <div class="service-img-box">
                                    <img th:src="@{${service.imgUrl}}" class="service-img" alt="서비스 이미지" />
                                </div>
                                <div class="service-info">
                                    <div class="service-name" th:text="${service.name}">커트</div>
                                    <div class="service-price-area">
                                        <div class="price" th:text="${#numbers.formatInteger(service.price, 3, 'COMMA')}">20,000</div>
                                        <!-- 원가 없을 수도 있으니 조건부 표시 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:if="${#lists.size(compareResults) < 3}"
                 th:each="i : ${#numbers.sequence(1, 3 - #lists.size(compareResults))}"
                 class="compare-area dummy-area"
                 style="visibility: hidden;">
                <!-- 아무 내용 없이, 레이아웃만 채움 -->
            </div>
        </div>

    </div>
</div>
<th:block layout:fragment="script">

    <script type="module" src="/javascript/user/compare.js"></script>
</th:block>
</body>
</html>